/* ----------- Setup ----------- */

* {
	/*border: 1px solid black;*/
}

/* iPad 3 and 4, Portrait and Landscape */
/*do I need others? test that it works*/
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* ----------- Base Styles ----------- */

body {
	font-family: 'Ubuntu', sans-serif;
}

h1 {
	text-align: center;
}

a:visited, a:link, a:active
{
    text-decoration: none;
    color: black;
}

a:hover {
	text-decoration: none;
	color: grey;
}

.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
 }

.alignright {
  float: right;
  padding: 0 0 10px 10px;
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0;
}

.container {
	width: 100%
	margin: 10px;
	padding: 10px;
}

/* ----------- Layout ----------- */

.board {
	background: url("../assets/boardbackground.png") no-repeat center;
	background-size: cover;
	height: 600px;
}
.playerdiv {
	padding-top: 100px;
	padding-bottom: 50px;
	/*margin: top 30%;*/
	/*width: 100%;*/
}

/*player divs that js changes*/
.player {
	height: 100px;
	width: 100px;
	/*border: 1px solid black;*/
	padding: 10px;
	margin: 10px;
	text-align: center;
	transition: all .5s ease;
}



#player1 {
	background: url("../assets/sen running 2.png") no-repeat center;

}

#player2{
	background: url("../assets/noface2.png") no-repeat center;
}

/* ----------- Landing Page ----------- */

.landingPage {
	background-image: url("../assets/landingpage.png");
	background-size: cover;
}

.headerBorder {
	border-bottom: 1px solid black;

}

#header {
	width: 100%;
	margin: 20px 20px 40px 20px;
}

.headerNav {
	float: left;
	width: 33%;
}

#navleft {
	text-align: left;
}

#navCenter {
	text-align: center;
	font-weight: 600;
	font-size: 24px;
}

#navRight {
	text-align: right;
}

.footerNav {
	clear: both;
	text-align: center;
	margin: auto;
	width: 100%;
	margin-top: 600px;
}

li:hover {
	opacity: 20%;
}

#footerLinks{
	float: left;
	margin-left: 20px;
	/*text-align: left;*/

}

#footerIcons {
	float: right;
	margin-right: 20px;
	/*text-align: right;*/
}

.links {
	float: left;
	display: inline-block;
	padding: 50px 20px 20px 0px;
	font-size: 12px;
}

#copyright {
	color: #d3d3d3;
	float: left;
}